<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
            integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
            integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
            crossorigin="anonymous"></script>
    <script>
        function redirectCart() {
            var origin = window.location.origin;   // Returns base URL (https://example.com)
            $(document).ready(function () {
                window.location.href = origin + "/cart";
            });
        }

        function redirectOrder() {
            var origin = window.location.origin;   // Returns base URL (https://example.com)
            $(document).ready(function () {
                window.location.href = origin + "/my-order";
            });
        }
    </script>
    <style>
        .box:hover {
            box-shadow: 0 0 33px rgba(33, 33, 33, .2);
        }
    </style>
</head>
<body>
<!--login-->
<div class="mode fade modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            </div>
            <div class="modal-body" style="color: deeppink">
                <form th:action="@{/}" method="post" id="login">
                    <div class="form-group">
                        <input type="text" class="form-control" id="username" placeholder="Username">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" id="password" placeholder="Password">
                    </div>
                    <div class="forgot">
                        <a href="#">Forgot password?</a>
                    </div>
                    <button type="submit" class="btn btn-primary">Login</button>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-info" data-dismiss="modal">&times;</button>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-6"></div>
        <div class="col-md-6">
            <button class="btn btn-outline-light" data-toggle="modal" data-target=".mode">LOGIN</button>
            <button class="btn btn-outline-dark" id="cart" onclick="redirectCart();">MY CART</button>
            <button class="btn btn-outline-dark" id="order" onclick="redirectOrder();">MY ORDER</button>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-12 col-sm-3">
            <div class="card bg-light mb-3">
                <div class="card-header bg-primary text-white text-uppercase"><i class="fa fa-list"></i> Categories
                </div>
                <ul class="list-group category_block">
                    <li class="list-group-item"><a href="category.html">Cras justo odio</a></li>
                    <li class="list-group-item"><a href="category.html">Dapibus ac facilisis in</a></li>
                    <li class="list-group-item"><a href="category.html">Morbi leo risus</a></li>
                    <li class="list-group-item"><a href="category.html">Porta ac consectetur ac</a></li>
                    <li class="list-group-item"><a href="category.html">Vestibulum at eros</a></li>
                </ul>
            </div>
            <div class="card bg-light mb-3">
                <div class="card-header bg-success text-white text-uppercase">Last product</div>
                <div class="card-body">
                    <img class="img-fluid" src="https://dummyimage.com/600x400/55595c/fff"/>
                    <h5 class="card-title">Product title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <p class="bloc_left_price">99.00 $</p>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="row">
                <div class="col-12 col-lg-3 box" style="margin-bottom: 10px; padding-bottom: 10px"
                     th:each="product, p_i : ${products}">
                    <!--Get Url tu tieu de bai viet-->
                    <a th:href="@{/__${product.url + '-' + product.id}__}" th:title="${product.name}">
                        <img th:src="@{__${product.getImage()}__}" alt="" class="card-img-top">
                    </a>
                    <h4 style="font-size: 13px">
                        <a th:href="@{/__${product.url + '-' + product.id}__}" th:title="${product.name}"
                           th:text="${#strings.length(product.name)} < 50 ? ${product.name} : ${#strings.substring(product.name, 0, 49) + '...'}"></a>
                    </h4>
                    <div class="row">
                        <div class="col-12">
                            <p class="btn-sm btn-danger btn-block" th:text="${product.getPrice() + ' VND'}"></p>
                        </div>
                        <div class="col-12">
                            <a th:href="@{/cart/buy/__${product.id}__}" class="btn btn-warning btn-block">
                                <img width="20px" height="20px"
                                     src="https://image.flaticon.com/icons/svg/60/60992.svg"/>
                                Đặt Mua
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
