<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: head">
    <title id="pageTitle">Danh Sách Sản Phẩm</title>
    <script id="pageScript"></script>
    <style id="pageStyle"></style>
</head>
<body>
<div class="container">
    <a href="/">Back home</a>
    <a href="/create-product">Create product</a>
    <table class="table">
        <tr th:each="product : ${products}">
            <td><img th:src="${product.image}" width="40px" alt=""></td>
            <td><a th:href="@{/__${product.url + '-' + product.id}__}" th:text="${product.name}"></a></td>
            <td><a th:href="@{/edit-product/__${product.id}__}">Sua</a></td>
            <td><a th:href="@{/delete-product/__${product.id}__}" onclick="return confirm('Delete product now???')">Xoa</a></td>
        </tr>
    </table>
</div>

</body>
</html>
