<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
            integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
            integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
            crossorigin="anonymous"></script>
    <script>
        $(document).ready(function () {
            var d = new Date();
            var strDate = d.getDate() + "/" + (d.getMonth() + 1) + "/" + d.getFullYear() + " - " + d.getHours() +":"+ d.getMinutes() +":"+ d.getSeconds();
            $("input#date_time").val(strDate);
        })
        $(document).ready(function () {
            var getTotalPrice = [[${session.total_price}]];
            $("input#total_price").val(getTotalPrice);
        })
    </script>
</head>
<body class="container">
<form th:action="@{/order-success}" method="post" th:object="${order}">
    <div class="row">
        <div class="col-md-9">
            <table class="table" th:each="item : ${session.cart}">
                <tr style="font-weight: bold">
                    <td>San Pham</td>
                    <td>Anh</td>
                    <td>So Luong</td>
                    <td>Gia Tien</td>
                </tr>
                <tr>
                    <td><span th:text="${item.product.name}"></span></td>
                    <td><img width="80px" height="80px"
                             th:src="${item.product.image}" alt=""></td>
                    <td>
                        <span th:text="${item.quantity}"></span>
                    </td>
                    <td><span th:text="${item.product.price} * ${item.quantity}"></span></td>
                </tr>
                <tr>
                    <td colspan="4" th:text="${session.total_price}"></td>
                </tr>
            </table>
        </div>
        <div class="col-md-3">
            <input type="hidden" th:value="${session.total_price}" id="total_price" th:field="*{total_price}">
            <div class="form-group">
                <label>Ho ten</label>
                <input type="text" class="form-control" th:field="*{fullname}">
            </div>
            <div class="form-group">
                <label>Email</label>
                <input type="text" class="form-control" th:field="*{email}">
            </div>
            <div class="form-group">
                <label>So dien</label>
                <input type="text" class="form-control" th:field="*{phone}">
            </div>
            <div class="form-group">
                <label>Dia chi</label>
                <input type="text" class="form-control" th:field="*{address}">
            </div>
            <div class="form-group">
                <label>Thoi Gian</label>
                <input type="hidden" id="date_time" th:field="*{date_time}">
            </div>
            <div class="form-group">
                <button class="btn btn-outline-warning" type="submit">Mua Hang</button>
            </div>
        </div>
    </div>
</form>
</body>
</html>
