<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: head">
    <title id="pageTitle">Sản phẩm bạn đã mua</title>
    <script id="pageScript"></script>
    <style id="pageStyle"></style>
</head>
<body>
<div class="container">
    <div class="row">
        <table class="table">
            <tr style="font-weight: bold;">
                <td>San Pham</td>
                <td>Don Gia</td>
                <td>So Luong</td>
                <td>Tong Gia</td>
            </tr>
            <tr th:each="product : ${order.getProducts()}">
                <th:block th:each="quantity : ${order.getQuantities()}" th:if="${quantity.product.id} == ${product.id}">
                    <td><a th:href="@{/__${product.url + '-' + product.id}__}" th:text="${product.name}"></a></td>
                    <td th:text="${product.price}"></td>
                    <td>
                        <span th:text="${quantity.getQuantity_one_product()}"></span>
                    </td>
                    <td>
                        <span th:text="${product.price} * ${quantity.getQuantity_one_product()}"></span>
                    </td>
                </th:block>
            </tr>
        </table>
    </div>
</div>
</body>
</html>
